[mysqld]
# The MySQL server binds to all available network interfaces.
bind-address = 0.0.0.0

# The MySQL server port (default is 3306).
port = 3306

# Your MySQL data directory.
datadir = /var/lib/mysql

# The server ID for replication (if you are using replication).
server-id = 1

# The maximum number of concurrent connections.
max_connections = 100

# The character set for the server.
character-set-server = utf8

# The default storage engine when creating new tables.
default-storage-engine = InnoDB

# The location of the error log file.
log_error = /var/log/mysql/error.log

# The general query log (for debugging purposes).
general_log = 1
general_log_file = /var/log/mysql/general.log
